$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/"
// bower:scss
@import bootstrap-sass-official/assets/stylesheets/_bootstrap.scss
// endbower

//Variables
$body-font-size: 14px

//Imports
@import "calc"
@import "header"
@import "elmt/ysl-theme-changer"

//Screens
@import "screen/home"
@import "screen/invitation"
@import "screen/location"
@import "screen/accomodation"
@import "screen/transportation"
@import "screen/story"

.browsehappy
  margin: 0.2em 0
  background: #ccc
  color: #000
  padding: 0.2em 0

/* Space out content a bit */
body
  padding-top: 60px
  padding-bottom: 10px
  font-family: 'Roboto Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif
  &.pink
    background: #DB84AD
  &.tosca
    background: turquoise

.nav a, .pagination, .carousel, .panel-title a, ul a, a
  cursor: pointer

hr
  border-color: #ddd

.navbar
  margin-bottom: 10px

.jumbotron-header
  text-align: center
  padding: 20px
  margin-bottom: 10px
  .jumbotron-top
    margin-bottom: 0
    .jumbotron-title
      font-size: emCalc(35px)
    .jumbotron-city, .jumbotron-date
      font-size: emCalc(23px)
    .jumbotron-date
      margin-bottom: 15px
      @media (min-width: $screen-sm-min)
        margin-bottom: 0
    .jumbotron-people
      margin-top: 5px
  .jumbotron-bottom
    blockquote
      font-family: 'Josefin Sans'
      border-left: none
      margin-bottom: 0
      padding: 0
      p
        margin: 5px 0 0 0
        font-size: emCalc(15px)

.main-container
  background: #eee
  padding: 50px 30px 30px 30px
  @media (min-width: $screen-md-min)
    padding: 15px
  border-radius: 6px
  font-family: 'Roboto'

.tab-content
  padding: 15px
