.gallery-container
  #ysl-carousel
    margin-bottom: 15px
    .item
      text-align: center
      img
        margin: 0 auto
  #ysl-carousel-thumbnail
    margin-bottom: 15px
    .owl-item.loading
      min-height: 50px
