<div class="accomodation-container">
  <div class="row">
    <div class="col-md-12">
      <h2>Hotel & Guest House</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 hotel-guest-house">
      <h3>GUEST HOUSE</h3>
      <p>Jasmine Kayla</p>
      <address>
        Mauni I No. 151-A, Kediri<br>
        0354 701 7218 or 081330725331
      </address>
       
      <h3>HOTEL</h3>
      <p>Hotel Grand Surya -   JL. Dhoho 95 Kediri 0354 686000</p>
      <p>Hotel Merdeka - JL. Basuki Rachmat 4 Kediri 0354 681262</p>
      <p>Hotel Penataran - JL. Dhoho 190 Kediri 0354 684626</p>
      <p>Hotel Insumo Palace - JL. Urip Sumoharjo 90 Kediri 0354 681888</p>
      <p>Hotel Sentral - JL.Letjen Sutoyo 104 Kediri 0354 692346</p>
    </div>

    <div class="col-md-6">
      <p>Our Recommendation are <strong>Jasmine Kayla Guest House</strong> and <strong>Hotel Sentral</strong> because those are the closes ones.</p>
 
      <p>For your information:</p>
       
      <ul>
        <li>Hotel #1 - #3 are located in downtown.</li>
        <li>Hotel #4 is located near Alun-Alun and Masjid Agung Kediri.</li>
      </ul>
    </div>
  </div>
</div>