<div class="invitation-container">
  <h4>In the name of Allah SWT, the Most Beneficient and the Most Merciful</h4>
  <h5>We're delighted to invite you to attend the wedding ceremony of our daughter and son</h5>

  <h3>Yessica Ratri Wiguna, S.T.</h3>
  <h5>4th daughter of Mr. Masurani and Mrs. Sri Wulandari</h5>

  <h3>Liya Setyo Budi, S.T.</h3>
  <h5>2nd son of Mr. Sutrisno and Mrs. Kartini</h5>

  <h3 class="invitation-on">on</h3>
  <h3 class="invitation-day">Saturday</h3>
  <h3 class="invitation-date">18 . 10 . 14</h3>

  <div class="row">
    <div class="col-sm-6 akad">
      <h4><strong>AKAD</strong></h4>
      <h4>Yessica's Home</h4>
      <h5>Saturday, October 18th, 2014</h5>
      <h5>at 07:30 am</h5>
      <h4>Jalan Mauni 2 / 94</h4>
      <h4>Kediri</h4>
    </div>

    <div class="col-sm-6">
      <h4><strong>Reception</strong></h4>
      <h4>Gedung Yonif 521</h4>
      <h5>Saturday, October 18th, 2014</h5>
      <h5>at 11:00 am - 01:00 pm</h5>
      <h4>Jalan Achmad Yani 18</h4>
      <h4>Kediri</h4>
    </div>
  </div>
</div>
