<div class="story-container">
  <h3>Our Story</h3>
  <div class="row story-section">
    <div class="col-sm-8">
      <h4>2007</h4>
      <p>We first met as a freshman and an alumnus in High School. Then we were both involved in Scout and OSIS Events.</p>

      <br>

      <h4>2008</h4>
      <p>We met again as a freshman and senior student in ITB. Just like how I (Yessica) fall in love with Bandung, I am in love with this man too. On October 26th, we promised to build a relationship.</p>
    </div>

    <div class="col-sm-4 story-img">
      <img src="images/story-1.jpg" class="img-responsive img-thumbnail"/>
    </div>
  </div>

  <div class="row story-section">
    <div class="col-sm-8">
      <h4>2009</h4>
      <p>I (Yessica) left Bandung and moved to UI Depok.</p>
      <p>New campus, new life. With this event, we understand how hard it is to be in a Long Distance Relationship. We eventually knew that we only needed 2 things: TRUST and COMMUNICATION.</p>

      <br>

      <h4>2010 - 2013</h4>
      <p>Liya moved to Bekasi for work. Good bye LDR !! We could finally meet every weekend.</p>

      <br>

      <h4>2014</h4>
      <p>Feb 1st 2014, we were engaged !!</p>
      <p>Oct 18th 2014, we will promise to live our life together till death do us part.</p>
    </div>

    <div class="col-sm-4">
      <img src="images/story-2.jpg" class="img-responsive img-thumbnail"/>
    </div>
  </div>
</div>
